.wrapper {
    margin-top: 5rem;
    text-align: center;
}

.element {
    padding: 15px;
}

.formLabel {
    display: block;
    /* padding: 15px; */
}

.inputLabel {
    position: relative !important;
    top: -10px !important;
}

.submitBtn {
    margin-top: 15px !important;
    background-color: purple !important;
    
}

.submitBtn:hover {
    background-color: #a242a2 !important;
}

.hiddenMenuItem {
    height: 0;
    visibility: hidden;
    padding: 0 !important;
    margin: 0;
    /* pointerEvents: none; */
    opacity: 0;
}